<h1>Welcome to the Show Webpage</h1> 


<h3>Your Guesses</h3> 


<table border = "1" style="width:100%">
  <tr> 
    <td>Start</td> 
    <td><%= "#{@w1}"%></td> 
  </tr> 
  <tr> 
    <td>Step 1</td> 
    <td><%= "#{@text1}"%></td>
  </tr> 
  <tr> 
    <td>Step 2</td> 
    <td><%= "#{@text2}" %></td> 
  </tr> 
  <tr> 
    <td>Step 3</td> 
    <td><%= "#{@text3}" %></td> 
  </tr> 
  <tr> 
    <td>Step 4</td> 
    <td><%= "#{@text4}" %></td> 
  </tr> 
  <tr> 
    <td>Step 5</td> 
    <td><%= "#{@text5}"%></td> 
  </tr> 
  <tr> 
    <td>End</td> 
    <td><%= "#{@w2}" %></td> 
  </tr> 
</table>
 

<h2><%= "#{@answer}" %></h2> 
