<!DOCTYPE html>
<html>
<head>
  <title>Img</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p> 
<p class="alert"><%= alert %></p> 
<header class="navbar navbar-fixed-top navbar"> 
<nav> 
 <div class="navbar navbar-default"> 
    <div class="container-fluid"> 
      <div class="navbar-header"> 
      <a class="navbar-brand" href="#">Social Image</a>
      <ul class="nav navbar-nav"> 
        <% if user_signed_in? %> 
        <li class="active"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li> 
        <li><%= link_to "View Your Images", images_path %>
        <li><%= link_to "View Shared Images", sharei_path %>
        <% else %>
        <li class="active"><%= link_to "Sign In", new_user_session_path %></li> 
        <li class="active"><%= link_to "Sign Up", new_user_registration_path %></li> 
        <% end %>
      </ul> 
      </div> 
    </div> 
 </div> 
</nav>
</header> 
<%= yield %> 
        
</body> 
</html>
