<p id="notice"><%= notice %></p>

  <% @tag_articles.each do |article| %> 
    <% if article.article_id == the_id %> 
      <% @tags.each do |tag| %> 
       <% if article.tag_id == tag.id %> 
         <a href="#" data-toggle = "modal" data-target= "#myModal-<%= tag.str %>"> #<%= tag.str %></a>
        <div class="btn-group"> 
         <div class="modal fade" id="myModal-<%= tag.str %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog">
            <div class="modal-content"> 
             <div class="modal-header"> 
                  #<%= tag.str %> 
             </div> 
             <div class="modal-body"> 
                  <% @tag_devises.each do |devices| %>
                    <% @users.each do |user| %> 
                     <% if devices.devise_id == user.id %> 
                       <strong>User: </strong> 
                          <%= user.email %>
                       <% break %>
                     <% end %> 
                    <% end %> 
                  <% end %> 
             </div> 
             <div class="modal-footer"> 
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
             </div> 
           </div> 
          </div> 
         </div>

       <% end %>
      <% end %>
    <% end %> 
  <% end %>


<br><br><br>

