<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Public or private</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <%= link_to "Users", layouts_image_path %> 
  <% if user_signed_in? %>
  <tbody>
    <% @images.each do |image| %>
      <% if image.user_id == current_user.id %> 
    <tr>
        <td><%= image_tag root_url + "/images/"+ image.filename, size: "100x100", alt:image.filename %></td>
        <td><%= image.public_or_private %></td>
        <td><%= image.user_id %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Share with Users', new_image_user_path %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New Image', new_image_path %>
<%= link_to 'Home', root_path %>
