<p id="notice"><%= notice %></p>

<%= link_to "Share this Image?", image_image_users_path(@image) %> 
<p>
   <%= image_tag root_url + "/images/" + @image.filename, size:"100x100", alt:@image.filename %>
</p>

<p>
  <% if @image.private_or_public == true %> 
    Private
  <% else %> 
    Public 
   <% end %> 
</p>

  
<% @tags.each do |tag| %> 
<p>
  <% if @image.id == tag.image_id %> 
  #<%= tag.str %>  

  <% end %>  
  <% end %>
</p>  
<%= link_to 'Add/Edit/Delete Tags', image_tags_path(@image) %>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
