<p id="notice"><%= notice %></p>

<%= link_to "Share this Image?", image_image_users_path(@image) %> 
<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Private or public:</strong>
  <%= @image.private_or_public %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user %>
</p>

<%= link_to 'See the Tags?', image_tags_path(@image) %> |
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
