<p id="notice"><%= notice %></p>

<p>
   <%= image_tag root_url + "/images/" + @image.filename, size:"500x500", alt:@image.filename %>
</p>

<p>
  <% if @image.private == false %> 
    Public
  <% else %> 
    Private 
   <% end %> 
</p>

<strong>Click tag to edit it: </strong>
<br> 
<% @tags.each do |tag| %> 
  <% if @image.id == tag.image_id %> 
  | #<%= link_to "#{tag.str}", { :controller => "tags", :action => "edit", :tag_id => tag.id } %> 
  <% end %>  
  <% end %>
<br><br>

<%= link_to 'New Tag', image_tags_path(@image) %> |
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %> |
<%= link_to 'Share Image', new_image_image_user_path(@image) %> | 
<%= link_to 'Delete Shared Users', image_image_users_path(@image) %>

