<% page_header "Daydream" %>

    <% @articles.each do |article| %>
       <div class="well well-lg"> 
       <p><%= article.title %></p> 
       <p><%= article.description %></p>
	<p><%= link_to image_tag(root_url + "/images/" + article.filename), article %>
        <p>  <span class="glyphicon glyphicon-eye-open"></span> <%= article.views %> <br>        
        <span class="glyphicon glyphicon-thumbs-up"></span> <%= article.likes %></p>
       <p> <%= link_to 'Delete Article', article, method: :delete, data: { confirm: 'Are you sure?' } %></p>
       </div>
    <% end %>

<br>

<%= link_to 'New Article', new_article_path %>
